<footer class="footer">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-4 col-md-6">
        <h3 data-i18n="nav.name" class="fw-bold mb-4">建豐健康科技FongAI</h3>
        <p class="footer-text mb-4" data-i18n="footer.description">
          結合 AI 與醫療專業，致力於解決高齡社會的跌倒問題，
          讓健康老化的願景得以實現。
        </p>

        <div class="social-links">
          <a target="_blank" href="https://www.facebook.com/FongAI.co">
            <i class="bi bi-facebook"></i>
          </a>
          <a
            target="_blank"
            href="https://line.me/R/ti/p/@562xehaz?oat_content=url"
          >
            <i class="bi bi-line"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/@FONGAIHEALTH">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <h6 class="footer-title" data-i18n="nav.about">關於我們</h6>
        
        <ul class="list-unstyled">
          <li>
            <a href="/about.html" data-i18n="nav.companyIntro"
              > 公司介紹</a
            >
          </li>
          <li>
            <a href="/whitepapers/index.html" data-i18n="nav.whitepaper"
              >白皮書</a
            >
          </li>
          <li>
            <a href="/technology.html" data-i18n="nav.technology">核心技術</a>
          </li>
          <!-- <li>
            <a href="/partners.html" data-i18n="nav.partners">經銷商招募</a>
          </li> -->
        </ul>
      </div>

      <div class="col-lg-4 col-md-6">
        <h6 class="footer-title" data-i18n="footer.contactTitle">聯絡資訊</h6>
        <ul class="list-unstyled contact-info">
          <li>
            <i class="bi bi-geo-alt text-info"></i>
            <span data-i18n="footer.address"
              >臺灣臺北市內湖區瑞光路168號9F</span
            >
          </li>
          <li>
            <i class="bi bi-envelope text-info"></i>
            service@fongai.co
          </li>
        </ul>
      </div>
    </div>

    <div
      class="footer-bottom border-secondary border-top mt-5 pt-4 text-center"
    >
      <p class="footer-text mb-0">
        © 2026
        <span data-i18n="footer.copyright"
          >建豐健康科技｜FongAI. All Rights Reserved.</span
        >
      </p>
    </div>
  </div>
</footer>
