<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <!-- LOGO -->

    <a class="navbar-brand fw-bold" href="/index.html">
      <img src="/assets/images/logo.png" alt="logo" />
      <span data-i18n="nav.name">建豐健康科技FongAI</span>
    </a>

    <!-- HAMBURGER -->

    <button
      class="navbar-toggler border-0 shadow-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>

    <!-- NAV -->

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <!-- ABOUT -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/about.html"
            data-i18n="nav.about"
          >
            關於我們
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/whitepapers/index.html"
                data-i18n="nav.whitepaper"
              >
                白皮書
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/technology.html"
                data-i18n="nav.technology"
              >
                核心技術
              </a>
            </li>

            <!-- <li>
              <a
                class="dropdown-item"
                href="/partners.html"
                data-i18n="nav.partners"
              >
                經銷商招募
              </a>
            </li> -->
          </ul>
        </li>

        <!-- NEWS -->

        <li class="nav-item">
          <a class="nav-link" href="/news/news.html" data-i18n="nav.news">
            最新消息
          </a>
        </li>

        <!-- SERVICE -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            data-i18n="nav.service"
          >
            服務案例
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/news/news.html?type=service"
                data-i18n="nav.institution"
              >
                機構合作案例
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/news/news.html?type=enterprise"
                data-i18n="nav.enterprise"
              >
                企業健康講座
              </a>
            </li>
          </ul>
        </li>

        <!-- APP -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/fongaiapp.html"
            data-i18n="nav.app"
          >
            FongAI APP
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/vivifrail.html"
                data-i18n="nav.vivifrail"
              >
                長者活力體能訓練方案
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/fongai-exercise.html"
                data-i18n="nav.exercise"
              >
                FongAI建議運動課程
              </a>
            </li>
          </ul>
        </li>

        <!-- PRODUCTS -->

        <li class="nav-item dropdown" id="nav-selected-products">
          <a
            class="nav-link dropdown-toggle"
            href="/product/selected-products.html"
            data-i18n="nav.selected"
          >
            建豐嚴選
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/product/product-01.html"
                data-i18n="nav.prod1"
              >
                足適能矯正鞋墊
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/product/product-02.html"
                data-i18n="nav.prod2"
              >
                運動地墊遊戲平台
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/product/product-03.html"
                data-i18n="nav.prod3"
              >
                HappyGoGo團體運動軟體
              </a>
            </li>
          </ul>
        </li>

        <!-- CONTACT -->

        <li class="nav-item">
          <a class="nav-link" href="/contact.html" data-i18n="nav.contact">
            聯絡我們
          </a>
        </li>

        <!-- LOGIN -->

        <li class="nav-item">
          <a class="nav-link" href="#" data-i18n="nav.partnerLogin">
            夥伴登入
          </a>
        </li>

        <!-- LANGUAGE -->

        <li class="nav-item ms-lg-3 dropdown">
          <button
            class="btn btn-lang dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            data-i18n="nav.language"
          >
            語系
          </button>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                class="dropdown-item"
                href="#"
                onclick="
                  setLang('zh');
                  return false;
                "
              >
                繁體中文
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                onclick="
                  setLang('en');
                  return false;
                "
              >
                English
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                onclick="
                  setLang('ja');
                  return false;
                "
              >
                日本語
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
