<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta
  name="google-site-verification"
  content="6yaFGbhL9o_X_K-7ZYJCv5QiWQCrMXJMC6D60L9_Eh8"
/>

<title>建豐健康科技｜FongAI 動態骨架防跌專家</title>
<!-- google的GA -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-922001BSQN"
></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-922001BSQN");
</script>

<script>
  const isSubFolder =
    location.hostname.includes("github.io") ||
    location.pathname.startsWith("/fongai/");

  if (isSubFolder) {
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("a[href^='/']").forEach((link) => {
        const href = link.getAttribute("href");

        if (!href.startsWith("/fongai/")) {
          link.setAttribute("href", "/fongai" + href);
        }
      });
    });
  }
</script>
<link rel="icon" href="/assets/images/favicon.ico" />
<script type="module" src="/js/i18n.js"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
/>

<link rel="stylesheet" href="/css/style.css" />
